/* put all single instance classes in here */

.SiteWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  width: 100%;

}

.Home {
  margin: 0 auto;
  max-width: 640px;
}

.Home h1 {
  text-align: center;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.WeatherInfo_Img {
  flex-basis: 50%;
  font-size: 140px;
}

.WeatherInfo_Data {
  flex-basis: 50%;
}

.WeatherInfo_Data .CurrentTemperature p{
  font-size: 140px;
  font-weight: bold;
  line-height: 140px;
  margin: 0;
}

.OtherTemperatures p{
  font-size: 24px;
  line-height: 24px;
}

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.CitiesNav {
  display: flex;
}

.CitiesNav a {
  color: black;
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
  text-decoration: none;
  transition: border-bottom 400ms ease;
}

.CitiesNav a :hover {
  border-bottom: 1px solid black;
}

.CitiesNav :active {
  
}